<dialog id="inviteKelas">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content">
        <div class="main">
            <header class="banner small">
                <div class="title">
                    <h1><i class="fas fa-key"></i>Invite Code</h1>
                    <p>Bagikan kode berikut agar dapat bergabung untuk mengikuti kelas!</p>
                    <p style="color: red;">Hanya kode undangan yang terakhir dibuat yang valid!</p>
                </div>
            </header>
            <form id="inviteForm" action="/api/kelas/<?= idkelas ?>/invite" method="post">
                <div class="blok-list">
                    <div class="blok-list flex">
                        <div class="item-group">
                            <label>Code</label>
                            <input style="text-align: center;" type="text" name="invitecode" onclick="autoSelectInput(this);" value="Click Generate to make a new code!" maxlength="12" class="pageInviteCode" id="input_invitecode" readonly>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
        <div class="options">
            <div class="blok-list flex">
                <button class="button aksiModal" value="ok">
                    <div class="icon"><i class="far fa-check"></i></div>
                    <div class="text"><span>Generate</span></div>
                </button>
                <button class="button aksiModal" value="batal">
                    <div class="icon"><i class="far fa-times"></i></div>
                    <div class="text"><span>Tutup</span></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('inviteKelas', (modalid) =>{
            let form = $(`#inviteForm`);
            let actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                cache: false,
                success: function(data) {
                    if (data.sukses) {
                        async function lakukan() {
                            await notifAdd('Generate Berhasil!', data.pesan, 'ok', 0, true, true);
                            await modalReset(modalid);
                            loadPageInitial(); // Reload Data User
                            $(".pageInviteCode").val(`${data.hasil}`);
                        }; lakukan();
                    }else{
                        if (data.logout){
                            window.location.reload(); return;
                        }
                        modalFailed(modalid);
                        notifAdd('Gagal Generate!', data.pesan, 'error', 0, true, true);
                    }
                },
                error: function(xhr, status, error) {
                    modalFailed(modalid);
                    notifAdd('Gagal Generate!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                }
            });
        }, (modalid) =>{
            async function lakukan() {
                // Nothing
            }; lakukan(); 
        });
    </script>
</dialog>