<?- include('./parts/head', {
    title:'Dashboard', navstatus:'dashboard'
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h1><span class="dashboardSay"></span></h1>
        <h3><span class="dashboardSayDesc"></span></h3>
    </div>
</header>

<br>
<div class="blok-list flex tiles tiles-s2">
    <a class="banner hoverable small list-item" href="/kelas">
        <div class="title">
            <h2><i class="fas fa-chalkboard-teacher"></i>Class</h2>
            <p>Hore, tidak ada tugas atau absensi yang terlewat!</p>
        </div>
    </a>
    <a class="banner hoverable small list-item" href="/rewards">
        <div class="title">
            <h2><i class="fas fa-stars"></i>Reward</h2>
            <p>Belum ada informasi terbaru, cek lagi nanti.</p>
        </div>
    </a>
</div>

</div></main> <!-- End of Main -->

<!-- Account Handler -->
<?- include('./parts/module-akun'); ?>
<script>
    var DataPage = {};
    function loadPageInitial() {
        // Mendapat sapaan berdasarkan waktu
        let curHr = new Date().getHours(); let say = ``;
        if (curHr < 12) {
            say = `<i class="fas fa-sun-haze"></i>Good Morning`;
            sayDesc = `Minum secangkir kopi untuk memulai hari mu!`;
        } else if (curHr < 18) {
            say = `<i class="fas fa-sun"></i>Good Afternoon`;
            sayDesc = `Tetap semangat, walau terik matahari!`;
        } else {
            say = `<i class="fas fa-cloud-moon"></i>Good Evening`;
            sayDesc = `Beristirahat lah hari ini, agar siap untuk esok hari!`;
        }
        $(".dashboardSay").html(say);
        $(".dashboardSayDesc").html(sayDesc);
    };
</script>
<!-- Account Handler End -->
<?- include('./parts/footer'); ?>
