<?- include('./parts/head', {
    title:'Kelas', navstatus:'informasi-single', akun
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h2><span class="pageIcon"></span><span class="pageTitle"></span></h2>
        <h3><span class="pageCreated"></span></h3>
    </div>
</header>
<div class="blok-list word-content pageContent">

</div>
</div></main> <!-- End of Main -->

<!-- Account Handler -->
<?- include('./parts/module-akun'); ?>
<script>

    var DataPage = {}; var DataPageInformasi = {};

    function loadPageInitial() {
        // Set link Tombol Mundur
        $(".menuButtonBack").attr('href', '/kelas/<?= idkelas ?>');
        
        // Load Data Postingan
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>/informasi/<?= idinformasi ?>',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPage = data.hasil[0];
                    console.log(DataPage);
                    loadPageData();
                }else{
                    notifAdd('Gagal Mengambil Data (Informasi)!', data.pesan, 'error', 0, false, true);
                    window.location = '/kelas/<?= idkelas ?>';
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Informasi)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                window.location = '/kelas/<?= idkelas ?>';
            }
        });

        async function loadPageData() {
            let icon = '<i class="far fa-bookmark"></i>'; // Inisialiasasi icon
            if (DataPage){
                
                $(".pageTitle").html(`${DataPage.title}`); // Tmapilkan Judul
                $(".pageCreated").html(`${waktuFull(DataPage.created)}`); // Tampilkan Tanggal dan waktu
                $("#editPostForm #input_title").val( ($('<textarea />').html(DataPage.title).text()) ); // Isi Judul
                $("#editPostForm #input_topic").val( ($('<textarea />').html(DataPage.topic).text()) ); // Isi Topik
                $("#editPostForm #input_format").val( ($('<textarea />').html(DataPage.format).text()) ); // Isi Format
                
                $(".pageContent").html(``); // Kosongkan Main Page

                if (DataPage.format){
                    switch (DataPage.format) {                    
                        case 'evaluation':
                        icon = '<i class="far fa-pencil"></i>'; // Atur Icon sebagai evaluasi
                        $(".pageContent").addClass(`pageSoal`); // Menambahkan Class evaluasi dan append config soal
                        $(".pageContent").prepend(`
                        <div class="banner small">
                            <div class="blok-list tiles title">
                                <h3 class="list-item center">
                                    <i class="fas fa-stopwatch"></i> <span class="evaluationConfigWaktu">...</span> Menit
                                </h3>                                   
                            </div>
                            <div class="blok-list tiles title">
                                <h3 class="list-item center">
                                    <i class="fas fa-list"></i> <span class="evaluationConfigDikerjakan">...</span> Soal&nbsp&nbsp
                                </h3>                                
                            </div>
                            <div class="blok-list tiles title">
                                <h3 class="list-item center">
                                    <i class="fas fa-bullseye-arrow"></i> <span class="evaluationConfigKKM">...</span> KKM&nbsp&nbsp
                                </h3>                                   
                            </div>
                        </div><br>
                        `);
                        
                        if (DataAkun.id !== DataPage.id_owner){
                            // Menambahkan tombol mulai ujian
                            $(".pageContent").append(`
                            <div class="blok-list">
                                <a class="button active center" onclick="modalShow('confirmEvaluation');">
                                    <div class="icon"><i class="fas fa-pencil-alt"></i></div>
                                    <div class="text"><span>Mulai Ujian!</span></div>
                                </a>
                            </div>
                            `);
                        }

                        loadEvaluation(); // Load Data Evaluasi
                            break; 

                        default:
                        icon = '<i class="far fa-bookmark"></i>'; // Atur icon sebagai materi
                        $(".pageContent").html(`${Base64.decode(DataPage.content)}`); // Tampilkan konten
                            break;
                    }
                }
                
                $(".pageIcon").html(icon); // Tampilkan Icon

                if (DataAkun.id !== DataPage.id_owner){
                    // Menhilangkan tombol menu yang tidak diperlukan
                    $(".menuButtonEditPost").remove();
                    $(".menuButtonDeletePost").remove();
                    $(".menuButtonPanel").remove();
                }
            }else{
                notifAdd('Access Failed', `Uknown Issue`, 'error', 0, true, true);
                window.location = '/kelas/<?= idkelas ?>';
            }
        };
    };
</script>
<!-- Evaluation Handler -->
<?- include('./parts/module-post-evaluation'); ?>
<!-- Evaluation Handler -->

<!-- Edit Postingan Kelas -->
<?- include('./parts/dialog/edit-post-class'); ?>
<!-- Hapus Postingan -->
<?- include('./parts/dialog/delete-post-class'); ?>
<!-- Account Handler End -->
<?- include('./parts/footer'); ?>
