<?- include('./parts/head', {
    title:'Kelas', navstatus:'informasi-single', akun
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h2><span class="pageIcon"></span><span class="pageTitle"></span></h2>
        <h3><span class="pageCreated"></span></h3>
    </div>
</header>
<div class="blok-list word-content pageContent">

</div>
</div></main> <!-- End of Main -->

<!-- Account Handler -->
<?- include('./parts/module-akun'); ?>
<script>
    var DataPage = {}; var DataPageInformasi = {};
    function loadPageInitial() {
        $(".userAkunName").html(`${DataAkun.name}`);

        // Tombol Mundur
        $(".menuButtonBack").attr('href', '/kelas/<?= idkelas ?>');
        
        // Load Data Kelas Joined
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>/informasi/<?= idinformasi ?>',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPage = data.hasil[0];
                    console.log(DataPage);
                    loadPageData();
                }else{
                    notifAdd('Gagal Mengambil Data (Informasi)!', data.pesan, 'error', 0, false, true);
                    window.location = '/kelas/<?= idkelas ?>';
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Informasi)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                window.location = '/kelas/<?= idkelas ?>';
            }
        });
        async function loadPageData() {
            let icon = '<i class="far fa-bookmark"></i>';
            if (DataPage){
                $(".pageTitle").html(`${DataPage.title}`);
                $(".pageCreated").html(`${waktuFull(DataPage.created)}`);
                $(".pageContent").html(`${Base64.decode(DataPage.content)}`);
                $("#editPostForm #input_title").val( ($('<textarea />').html(DataPage.title).text()) );
                switch (DataPage.type) {                    
                    default:
                        icon = '<i class="far fa-bookmark"></i>';
                        break;
                }
                $(".pageIcon").html(icon);
                if (DataPage.id_owner != DataAkun.id){
                    $(".menuButtonEditPost").remove();
                    $(".menuButtonDeletePost").remove();
                    $(".menuButtonPanel").remove();
                }else{
                    
                }
            }else{
                notifAdd('Access Failed', `Uknown Issue`, 'error', 0, true, true);
                window.location = '/kelas/<?= idkelas ?>';
            }
        };
    };
</script>
<!-- Edit Postingan Kelas -->
<?- include('./parts/dialog/edit-post-class'); ?>
<!-- Hapus Postingan -->
<?- include('./parts/dialog/delete-post-class'); ?>
<!-- Account Handler End -->
<?- include('./parts/footer'); ?>
