<?- include('./parts/head', {
    title:'Kelas', navstatus:'kelas-single', akun
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h2><i class="far fa-chalkboard-teacher"></i><span class="pageClassName"></span></h2>
        <h3><span class="pageClassRoom"></span> - <span class="pageClassSubject"></span></h3>
        <p><span class="pageClassDesc"></span></p>
    </div>
</header>

<br><h2>Postingan Terbaru</h2>
<div class="blok-list postListing">
    <a class="banner hoverable small list-item ghost" onclick="modalShow('addPost');">
        <div class="title">
            <h3><i class="far fa-question"></i>Tidak ada..</h3>
            <p>Belum ada post baru-baru ini.</p>
        </div>
    </a>
</div>
</div></main> <!-- End of Main -->

<!-- Account Handler -->
<?- include('./parts/module-akun'); ?>
<script>
    var DataPage = {}; var DataPageInformasi = {};
    function loadPageInitial() {
        $(".userAkunName").html(`${DataAkun.name}`);
        
        // Load Data Kelas Joined
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPage = data.hasil[0];
                    loadPageData();
                    console.log(data.hasil);
                    // notifAdd('Berhasil Mengambil Data (Kelas)!', data.pesan, 'ok', 0, true, false);
                }else{
                    if (data.logout){
                        window.location.reload(); return;
                    }
                    notifAdd('Gagal Mengambil Data (Kelas)!', data.pesan, 'error', 0, false, true);
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Kelas)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                window.location = '/kelas';
            }
        });
        async function loadPageData() {
            if (DataPage){
                $(".pageClassName").html(`${DataPage.class_name}`);
                $(".pageClassDesc").html(`${DataPage.class_desc}`);
                $(".pageClassSubject").html(`${DataPage.subject}`);
                $(".pageClassRoom").html(`${DataPage.room}`);
                if (DataPage.id_owner != DataAkun.id){
                    $("#invite_code_button").remove();
                    $("#edit_class_button").remove();
                    $("#add_informasi_button").remove();
                }else{
                    $("#konfirmasiQuit .main .title h1").html('Menghapus kelas?');
                    $("#quit_class_button .text span").html('Terminate Class');
                    $("#quit_class_button .icon").html('<i class="fas fa-bomb"></i>');
                }
                // Isi Edit Kelas
                $("#editForm #input_name").val( ($('<textarea />').html(DataPage.class_name).text()) );
                $("#editForm #input_desc").val( ($('<textarea />').html(DataPage.class_desc).text()) );
                $("#editForm #input_subject").val( ($('<textarea />').html(DataPage.subject).text()) );
                $("#editForm #input_room").val( ($('<textarea />').html(DataPage.room).text()) );
            }else{
                notifAdd('Access Failed', `Uknown Issue`, 'error', 0, true, true);
                window.location = '/kelas';
            }
        };

        // Load Data Informasi
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>/informasi/saya',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPageInformasi = data.hasil;
                    loadPageInformasiData();
                    console.log(data.hasil);
                }else{
                    if (data.logout){
                        window.location.reload(); return;
                    }
                    notifAdd('Gagal Mengambil Data (Informasi)!', data.pesan, 'error', 0, false, true);
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Informasi)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
            }
        });
        async function loadPageInformasiData() {
            if (DataPageInformasi){
                let dataArray = DataPageInformasi;
                $(`.postListing .list-item`).not(':last').remove();
                dataArray.forEach(element => {
                    let icon = '<i class="far fa-bookmark"></i>';
                    if (element.type){
                        switch (element.type) {                    
                            default:
                                icon = '<i class="far fa-bookmark"></i>';
                                break;
                        }
                    }
                    // Strukcture
                    let html = `
                        <a class="banner hoverable small list-item" href="/kelas/<?= idkelas ?>/informasi/${element.id}">
                            <div class="title">
                                <h3>${icon}${element.title}</h3>
                                <p><span>${waktuFull(element.created)}</span></p>
                            </div>
                        </a>
                    `;
                    $(`.postListing`).prepend(html);
                });
            };
        }; 
    };
</script>

<!-- Tambah Postingan Kelas -->
<dialog id="addPost">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content">
        <div class="main">
            <header class="banner small">
                <div class="title">
                    <h1><i class="fas fa-paper-plane"></i>Make a Post</h1>
                    <p>Beritahu informasi kepada peserta!</p>
                    <p>Informasi hanya bisa dipublikasikan berbentuk file Microsoft Word saja!</p>
                </div>
            </header>
            <form id="addPostForm" action="/api/kelas/<?= idkelas ?>/informasi/do" method="post" enctype="multipart/form-data">
                <div class="blok-list">
                    <div class="blok-list">
                        <div class="item-group">
                            <label>Judul</label>
                            <input type="text" name="title" id="input_title" maxlength="60" placeholder="Masukan Judul">
                        </div>
                        <div class="item-group">
                            <label>File MS Word</label>
                            <input type="file" name="content" id="input_content" >
                        </div>
                    </div>
                    <div class="blok-list flex">
                        <div class="item-group">
                            <label>Topik</label>
                            <select name="input_type" id="input_type">
                                <option value="all">Semua Topik</option>
                            </select>
                        </div>
                        <div class="item-group">
                            <label>Format</label>
                            <select name="input_type" id="input_type">
                                <option value="materi">Materi</option>
                                <option value="tugas">Tugas</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="options">
            <div class="blok-list flex">
                <button class="button aksiModal" value="ok">
                    <div class="icon"><i class="far fa-check"></i></div>
                    <div class="text"><span>Posting</span></div>
                </button>
                <button class="button aksiModal" value="batal">
                    <div class="icon"><i class="far fa-times"></i></div>
                    <div class="text"><span>Tidak Jadi</span></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('addPost', (modalid) =>{
            let form = $(`#addPostForm`);
            let actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: new FormData($(`#addPostForm`)[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if (data.sukses) {
                        async function lakukan() {
                            await notifAdd('Tambah Informasi Berhasil!', data.pesan, 'ok', 0, true, true);
                            await modalReset(modalid);
                            await modalHide(modalid);
                            loadPageInitial(); // Reload Data User
                        }; lakukan();
                    }else{
                        if (data.logout){
                            window.location.reload(); return;
                        }
                        modalFailed(modalid);
                        notifAdd('Gagal Tambah Informasi!', data.pesan, 'error', 0, true, true);
                    }
                },
                error: function(xhr, status, error) {
                    modalFailed(modalid);
                    notifAdd('Gagal Tambah Informasi!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                }
            });
        }, (modalid) =>{
            async function lakukan() {
                // Nothing
            }; lakukan(); 
        });
    </script>
</dialog>

<!-- Invite Kelas -->
<dialog id="inviteKelas">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content">
        <div class="main">
            <header class="banner small">
                <div class="title">
                    <h1><i class="fas fa-key"></i>Invite Code</h1>
                    <p>Bagikan kode berikut agar dapat bergabung untuk mengikuti kelas!</p>
                    <p style="color: red;">Hanya kode undangan yang terakhir dibuat yang valid!</p>
                </div>
            </header>
            <form id="inviteForm" action="/api/kelas/<?= idkelas ?>/invite" method="post">
                <div class="blok-list">
                    <div class="blok-list flex">
                        <div class="item-group">
                            <label>Code</label>
                            <input style="text-align: center;" type="text" name="invitecode" onclick="autoSelectInput(this);" value="************" maxlength="12" class="pageInviteCode" id="input_invitecode" readonly>
                        </div>    
                    </div>
                </div>
            </form>
        </div>
        <div class="options">
            <div class="blok-list flex">
                <button class="button aksiModal" value="ok">
                    <div class="icon"><i class="far fa-check"></i></div>
                    <div class="text"><span>Buat Kode</span></div>
                </button>
                <button class="button aksiModal" value="batal">
                    <div class="icon"><i class="far fa-times"></i></div>
                    <div class="text"><span>Tutup</span></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('inviteKelas', (modalid) =>{
            let form = $(`#inviteForm`);
            let actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                cache: false,
                success: function(data) {
                    if (data.sukses) {
                        async function lakukan() {
                            await notifAdd('Generate Berhasil!', data.pesan, 'ok', 0, true, true);
                            await modalReset(modalid);
                            loadPageInitial(); // Reload Data User
                            $(".pageInviteCode").val(`${data.hasil}`);
                        }; lakukan();
                    }else{
                        if (data.logout){
                            window.location.reload(); return;
                        }
                        modalFailed(modalid);
                        notifAdd('Gagal Generate!', data.pesan, 'error', 0, true, true);
                    }
                },
                error: function(xhr, status, error) {
                    modalFailed(modalid);
                    notifAdd('Gagal Generate!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                }
            });
        }, (modalid) =>{
            async function lakukan() {
                // Nothing
            }; lakukan(); 
        });
    </script>
</dialog>

<!-- Edit Kelas -->
<dialog id="editKelas">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content">
        <div class="main">
            <header class="banner small">
                <div class="title">
                    <h1><i class="fas fa-cog"></i>Class Preference</h1>
                    <p>Ubah nama atau subject kelas mu disini!</p>
                </div>
            </header>
            <form id="editForm" action="/api/kelas/<?= idkelas ?>/edit" method="post">
                <div class="blok-list">
                    <div class="blok-list">
                        <div class="item-group">
                            <label>Class Name</label>
                            <input type="text" name="name" id="input_name" maxlength="30" placeholder="Masukan label kelas.. (Kimia Semester 1)">
                        </div>
                        <div class="item-group">
                            <label>Description</label>
                            <input type="text" name="desc" id="input_desc" maxlength="100" placeholder="Deskripsikan kelasmu.. (Opsional)">
                        </div>
                        <div class="item-group">
                            <label>Subject</label>
                            <input type="text" name="subject" id="input_subject" placeholder="Apa yang akan diajari? (Kimia)">
                        </div>
                        <div class="item-group">
                            <label>Room</label>
                            <input type="text" name="room" id="input_room" placeholder="Pada ruang berapa? (10 MIPA 1 / 202)">
                        </div> 
                    </div>
                </div>
            </form>
        </div>
        <div class="options">
            <div class="blok-list flex">
                <button class="button aksiModal" value="ok">
                    <div class="icon"><i class="far fa-check"></i></div>
                    <div class="text"><span>Simpan</span></div>
                </button>
                <button class="button aksiModal" value="batal">
                    <div class="icon"><i class="far fa-times"></i></div>
                    <div class="text"><span>Tidak Jadi</span></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('editKelas', (modalid) =>{
            let form = $(`#editForm`);
            let actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                cache: false,
                success: function(data) {
                    if (data.sukses) {
                        async function lakukan() {
                            await notifAdd('Edit Kelas Berhasil!', data.pesan, 'ok', 0, true, true);
                            await modalReset(modalid);
                            await modalHide(modalid);
                            loadPageInitial(); // Reload Data User
                        }; lakukan();
                    }else{
                        if (data.logout){
                            window.location.reload(); return;
                        }
                        modalFailed(modalid);
                        notifAdd('Gagal Edit Kelas!', data.pesan, 'error', 0, true, true);
                    }
                },
                error: function(xhr, status, error) {
                    modalFailed(modalid);
                    notifAdd('Gagal Edit Kelas!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                }
            });
        }, (modalid) =>{
            async function lakukan() {
                // Nothing
            }; lakukan(); 
        });
    </script>
</dialog>

<!-- Keluar dari kelas -->
<dialog id="konfirmasiQuit">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content">
        <div class="main">
            <header class="banner small">
                <div class="title">
                    <h1>Ingin meninggalkan kelas?</h1>
                    <p>Anda tidak akan memiliki akses kelas setelah ini, yakin?</p>
                </div>
            </header>
        </div>
        <div class="options">
            <div class="blok-list flex">
                <button class="button aksiModal" value="ok">
                    <div class="icon"><i class="far fa-check"></i></div>
                    <div class="text"><span>Quit</span></div>
                </button>
                <button class="button aksiModal" value="batal">
                    <div class="icon"><i class="far fa-times"></i></div>
                    <div class="text"><span>Tidak Jadi</span></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('konfirmasiQuit', (modalid) =>{
            $.ajax({
                type: "POST",
                url: '/api/kelas/<?= idkelas ?>/quit',
                cache: false,
                success: function(data) {
                    if (data.sukses) {
                        async function lakukan() {
                            await notifAdd('Berhasil Keluar dari Kelas!', data.pesan, 'ok', 0, true, true);
                            await modalHide(modalid);
                            window.location = '/kelas';
                        }; lakukan();
                    }else{
                        if (data.logout){
                            window.location.reload(); return;
                        }
                        modalFailed(modalid);
                        notifAdd('Gagal Keluar dari kelas!', data.pesan, 'error', 0, true, true);
                    }
                },
                error: function(xhr, status, error) {
                    modalFailed(modalid);
                    notifAdd('Gagal Keluar dari kelas!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                }
            });
        }, (modalid) =>{
            async function lakukan() {
                await notifAdd('Batal Mundur!', 'Good thing i hope!', 'error', 0, false, true);
                await modalHide(modalid);
            }; lakukan(); 
        });
    </script>
</dialog>

<!-- Account Handler End -->
<?- include('./parts/footer'); ?>
