<?- include('./parts/head', {
    title:'Kelas', navstatus:'kelas-single', akun
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h2><i class="far fa-chalkboard-teacher"></i><span class="pageClassName"></span></h2>
        <h3><span class="pageClassRoom"></span> - <span class="pageClassSubject"></span></h3>
        <p><span class="pageClassDesc"></span></p>
    </div>
</header>

<br><h2>Postingan Terbaru</h2>
<div class="blok-list postListing">
    <a class="banner hoverable small list-item ghost" onclick="modalShow('addPost');">
        <div class="title">
            <h3><i class="far fa-question"></i>Tidak ada..</h3>
            <p>Belum ada post baru-baru ini.</p>
        </div>
    </a>
</div>
</div></main> <!-- End of Main -->

<!-- Account Handler -->
<?- include('./parts/module-akun'); ?>
<script>
    var DataPage = {}; var DataPageInformasi = {};
    function loadPageInitial() {
        $(".userAkunName").html(`${DataAkun.name}`);
        
        // Load Data Kelas Joined
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPage = data.hasil[0];
                    loadPageData();
                    console.log(data.hasil);
                    // notifAdd('Berhasil Mengambil Data (Kelas)!', data.pesan, 'ok', 0, true, false);
                }else{
                    if (data.logout){
                        window.location.reload(); return;
                    }
                    notifAdd('Gagal Mengambil Data (Kelas)!', data.pesan, 'error', 0, false, true);
                    window.location = '/kelas';
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Kelas)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
                window.location = '/kelas';
            }
        });
        async function loadPageData() {
            if (DataPage){
                $(".pageClassName").html(`${DataPage.class_name}`);
                $(".pageClassDesc").html(`${DataPage.class_desc}`);
                $(".pageClassSubject").html(`${DataPage.subject}`);
                $(".pageClassRoom").html(`${DataPage.room}`);               
                if (DataPage.id_owner != DataAkun.id){
                    $(".menuButtonCodeClass").remove();
                    $(".menuButtonPreferences").remove();
                    $(".menuButtonPublishPost").remove();
                }else{
                    $("#konfirmasiQuit .main .title h1").html('Menghapus kelas?');
                    $(".menuButtonQuitClass .text span").html('Terminate Class');
                    $(".menuButtonQuitClass .icon").html('<i class="fas fa-bomb"></i>');

                    // Menampilkan kode invite
                    if (DataPage.invite_code){
                        $(".pageInviteCode").val(`${DataPage.invite_code}`);
                    }
                }
                // Isi Edit Kelas
                $("#editForm #input_name").val( ($('<textarea />').html(DataPage.class_name).text()) );
                $("#editForm #input_desc").val( ($('<textarea />').html(DataPage.class_desc).text()) );
                $("#editForm #input_subject").val( ($('<textarea />').html(DataPage.subject).text()) );
                $("#editForm #input_room").val( ($('<textarea />').html(DataPage.room).text()) );
                $("#editForm #input_visible").val( ($('<textarea />').html(DataPage.visible).text()) );
                $("#editForm #input_max_user").val( ($('<textarea />').html(DataPage.max_user).text()) );
            }else{
                notifAdd('Access Failed', `Uknown Issue`, 'error', 0, true, true);
                window.location = '/kelas';
            }
        };

        // Load Data Informasi
        $.ajax({
            type: "GET",
            url: '/api/kelas/<?= idkelas ?>/informasi/saya',
            cache: false,
            success: function(data) {
                if (data.sukses) {
                    DataPageInformasi = data.hasil;
                    loadPageInformasiData();
                    console.log(data.hasil);
                }else{
                    if (data.logout){
                        window.location.reload(); return;
                    }
                    notifAdd('Gagal Mengambil Data (Informasi)!', data.pesan, 'error', 0, false, true);
                };
            },
            error: function(xhr, status, error) {
                notifAdd('Gagal Mengambil Data (Informasi)!', `${error} (${status} / ${status})`, 'error', 0, true, true);
            }
        });
        async function loadPageInformasiData() {
            if (DataPageInformasi){
                let dataArray = DataPageInformasi;
                $(`.postListing .list-item`).not(':last').remove();
                dataArray.forEach(element => {
                    let icon = '<i class="far fa-bookmark"></i>';
                    if (element.format){
                        switch (element.format) {   
                            case 'evaluation':
                                icon = '<i class="far fa-pencil"></i>';
                                break;                 
                            default:
                                icon = '<i class="far fa-bookmark"></i>';
                                break;
                        }
                    }
                    console.log(element.format);
                    // Strukcture
                    let html = `
                        <a class="banner hoverable small list-item" href="/kelas/<?= idkelas ?>/informasi/${element.id}">
                            <div class="title">
                                <h3>${icon}${element.title}</h3>
                                <p><span>${waktuFull(element.created)}</span></p>
                            </div>
                        </a>
                    `;
                    $(`.postListing`).prepend(html);
                });
            };
        }; 
    };
</script>
<!-- Tambah Postingan Kelas -->
<?- include('./parts/dialog/add-post-class'); ?>
<!-- Invite Kelas -->
<?- include('./parts/dialog/invite-class'); ?>
<!-- Edit Kelas -->
<?- include('./parts/dialog/edit-class'); ?>
<!-- Keluar dari kelas -->
<?- include('./parts/dialog/quit-class'); ?>
<!-- Account Handler End -->
<?- include('./parts/footer'); ?>
