<?- include('./parts/head', {
    title:'Masuk', desc:'Otentikasi dirimu terlebih dahulu!',
    navstatus : 'login'
}); ?>
<!-- Start Main --><main><div class="content">
<header class="banner">
    <div class="title">
        <h1><i class="fas fa-laugh-wink"></i>Selamat Datang!</h1>
        <p>Sebelum anda menggunakan Aplikasi E-Learning ini, harap masuk terlebih dahulu menggunakan metode di samping.</p>
    </div>
</header>
<form id="loginForm" action="/api/akun/masuk" method="post" autocomplete="off">
    <div class="blok-list">
        <div class="blok-list flex">
            <div class="blok-list flex">
                <div class="item-group">
                    <label>Username</label>
                    <input type="text" name="username"  id="input_username" placeholder="Type username here..">
                </div>
            </div>
            <div class="blok-list flex">
                <div class="item-group">
                    <label>Password</label>
                    <input type="password" name="password" id="input_password" placeholder="Type password here..">
                </div>
            </div>
        </div>
        <button class="button center active" type="submit" value="batal">
            <div class="icon"><i class="far fa-check"></i></div>
            <div class="text"><span>Masuk</span></div>
        </button>
    </div>
</form>
<script>
    // this is the id of the form
    $("#loginForm").submit(function(e) {
        e.preventDefault(); 
        modalShow('konfirmasiLogin'); // Show Modal
    });
</script>
</div></main> <!-- End of Main -->
<!-- Tambah Postingan Kelas -->
<?- include('./parts/dialog/login'); ?>

<?- include('./parts/footer'); ?>
