<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <a class="button" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notification</span></div>
            </a>
            <hr>
            <div class="blok-list">
                <a class="button" href="/kelas">
                    <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
                    <div class="text"><span>Kelas</span></div>
                </a>
                <!-- <a class="button" href="/rewards">
                    <div class="icon"><i class="fas fa-stars"></i></div>
                    <div class="text"><span>Rewards</span></div>
                </a> -->
                <a class="button" href="/pengaturan">
                    <div class="icon"><i class="fas fa-user-cog"></i></div>
                    <div class="text"><span>Pengaturan</span></div>
                </a>
            </div>
            <hr>
            <a class="button" onclick="modalShow('konfirmasiLogout');">
                <div class="icon"><i class="fas fa-power-off"></i></div>
                <div class="text"><span>Keluar</span></div>
            </a>
        </div>
    </div>
</nav>