<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <a class="button" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notification</span></div>
            </a>
            <a class="button" href="/portal">
                <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
                <div class="text"><span>Masuk</span></div>
            </a>
        </div>
    </div>
</nav>