<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <a class="button menuButtonNotification" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notifikasi</span></div>
            </a>
            <a class="button menuButtonMasuk" href="/portal">
                <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
                <div class="text"><span>Masuk</span></div>
            </a>
            <a class="button menuButtonMasuk" href="/portal-daftar">
                <div class="icon"><i class="fas fa-user-edit"></i></div>
                <div class="text"><span>Daftar</span></div>
            </a>
        </div>
    </div>
</nav>