<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <header class="banner color small">
                <div class="title">
                    <h2>Hai, <span class="userAkunSurName"></span>!</h2>
                    <p><span class="userAkunEmail"></span></p>
                </div>
            </header>
            <a class="button" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notification</span></div>
            </a>
            
            <div class="blok-list" id="edit_post_button"><hr>
                <a class="button" onclick="modalShow('editPost');">
                    <div class="icon"><i class="fas fa-pencil-alt"></i></div>
                    <div class="text"><span>Edit Postingan</span></div>
                </a><hr>
            </div>
            
            <a class="button backPageButton" onclick="history.back()">
                <div class="icon"><i class="fas fa-arrow-left"></i></div>
                <div class="text"><span>Kembali</span></div>
            </a>
        </div>
    </div>
</nav>