<nav class="side-main">
    <div class="content">
        <div class="blok-list mobile">
            <header class="banner small" style="background-image: url('https://lh3.googleusercontent.com/a/AGNmyxaIEcmUqYsW_Mx2t6y3fq2aFU-pOS7ZHt6TiVmD7Q=s96-c');">
                <div class="title">
                    <h2>Hai, <span class="userAkunSurName"></span>!</h2>
                    <p><span class="userAkunEmail"></span></p>
                </div>
            </header>
            <div class="blok-list">    
                <a class="button" onclick="notifShowPanel();">
                    <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                    <div class="text"><span>Notification</span></div>
                </a>
                <a class="button" onclick="modalShow('menuPanel');">
                    <div class="icon"><i class="fas fa-cog"></i></div>
                    <div class="text"><span>Options</span></div>
                </a>
                <a class="button" href="/dashboard">
                    <div class="icon"><i class="fas fa-arrow-left"></i></div>
                    <div class="text"><span>Dashboard</span></div>
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- Menu Panel -->
<dialog class="notif-panel" id="menuPanel">
    <div class="panel-back aksiModal" value="close"></div>
    <div class="content aksiModal" value="close" >
        <div class="main">
            <header class="banner color small" cstate="normal">
                <div class="title">
                    <h2><i class="fas fa-cog"></i>Options</h2>
                </div>
            </header>
            <div class="blok-list">
                <a class="button" onclick="modalShow('createKelas');">
                    <div class="icon"><i class="far fa-plus"></i></div>
                    <div class="text"><span>Create Class</span></div>
                </a>
                <a class="button" onclick="modalShow('joinKelas');">
                    <div class="icon"><i class="fas fa-project-diagram"></i></div>
                    <div class="text"><span>Join Class</span></div>
                </a>
            </div>
            
        </div>
    </div>
    <script>
        // Handle response masuk modal
        modalResponse('menuPanel', (modalid) =>{
            modalHide(modalid);
        });
    </script>
</dialog>