<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <header class="banner color small">
                <div class="title">
                    <h2>Hai, <span class="userAkunSurName"></span>!</h2>
                    <p><span class="userAkunEmail"></span></p>
                </div>
            </header>
            <a class="button" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notification</span></div>
            </a>
            <!-- <a class="button" onclick="modalShow('menuPanel');">
                <div class="icon"><i class="fas fa-cog"></i></div>
                <div class="text"><span>Other Option</span></div>
            </a> -->
            <hr>
            <div class="blok-list">
                <a class="button" id="add_informasi_button" onclick="modalShow('addPost');">
                    <div class="icon"><i class="fas fa-paper-plane"></i></div>
                    <div class="text"><span>Publish Post</span></div>
                </a>
                <a class="button" id="invite_code_button" onclick="modalShow('inviteKelas');">
                    <div class="icon"><i class="fas fa-key"></i></div>
                    <div class="text"><span>Kode Kelas</span></div>
                </a>
                <a class="button" id="edit_class_button" onclick="modalShow('editKelas');">
                    <div class="icon"><i class="fas fa-pencil-alt"></i></div>
                    <div class="text"><span>Sesuaikan</span></div>
                </a>
                <a class="button" id="quit_class_button" onclick="modalShow('konfirmasiQuit');">
                    <div class="icon"><i class="fas fa-user-times"></i></div>
                    <div class="text"><span>Revoke Invite</span></div>
                </a>
            </div>
            <hr>
            <a class="button" href="/kelas">
                <div class="icon"><i class="fas fa-arrow-left"></i></div>
                <div class="text"><span>Kembali</span></div>
            </a>
        </div>
    </div>
</nav>