<nav class="side-main">
    <div class="content">
        <div class="blok-list mobile">
            <header class="banner small userProfilePicture">
                <div class="title">
                    <div class="avatar"></div>
                    <div class="blok-list">
                        <h3>Hai, <span class="userAkunSurName"></span>!</h3>
                        <p><span class="userAkunEmail"></span></p>
                    </div>
                </div>
            </header>
            <div class="blok-list">    
                <a class="button menuButtonNotification" onclick="notifShowPanel();">
                    <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                    <div class="text"><span>Notification</span></div>
                </a>
                <a class="button menuButtonCreateClass" onclick="modalShow('createKelas');">
                    <div class="icon"><i class="far fa-plus"></i></div>
                    <div class="text"><span>Create Class</span></div>
                </a>
                <a class="button menuButtonJoinClass" onclick="modalShow('joinKelas');">
                    <div class="icon"><i class="fas fa-project-diagram"></i></div>
                    <div class="text"><span>Join Class</span></div>
                </a>
                <a class="button menuButtonConfirmationLogout" onclick="modalShow('konfirmasiLogout');">
                    <div class="icon"><i class="fas fa-power-off"></i></div>
                    <div class="text"><span>End Session</span></div>
                </a>
            </div>
        </div>
    </div>
</nav>