<nav class="side-main">
    <div class="content">
        <div class="blok-list slide-mobile">
            <a class="button" onclick="notifShowPanel();">
                <div class="icon"><i class="fas fa-comment-exclamation"></i></div>
                <div class="text"><span>Notification</span></div>
            </a>
            <hr>
            <div class="blok-list">
                <a class="button" onclick="modalShow('createKelas');">
                    <div class="icon"><i class="far fa-plus"></i></div>
                    <div class="text"><span>Buat Kelas</span></div>
                </a>
                <a class="button" onclick="modalShow('joinKelas');">
                    <div class="icon"><i class="fas fa-project-diagram"></i></div>
                    <div class="text"><span>Join Kelas</span></div>
                </a>
            </div>
            <hr>
            <a class="button" href="/dashboard">
                <div class="icon"><i class="fas fa-arrow-left"></i></div>
                <div class="text"><span>Dashboard</span></div>
            </a>
        </div>
    </div>
</nav>